body 
{
    background-color: hotpink;
}
h1 
{
    font-size: 200%;
    color: white;
    font-family: serif;
    text-align: center;
}
p
{
    color: lavenderblush;
}
#para1
{
    color: aqua;
    border: 7px plum;
    border-style: groove;
    padding: 20px;
}
button
{
    margin: 30px;
    border: 3x solid black;
    background-color: yellow;
    color: black;
    padding: 5px;
    border-radius: 8px;
}


