/*---------텍스트 부분---------*/
#p1{
    font-size: 200%;
    color: rgb(235, 123, 123);
    font-family: serif;
    text-align: center;
}
#p2{
    font-size: 200%;
    color: rgb(235, 123, 123);
    font-family: serif;
    text-align: center;
}
#p3{
    font-size: 200%;
    color: rgb(235, 123, 123);
    font-family: serif;
    text-align: center;
}
#p4{
    font-size: 200%;
    color: rgb(235, 123, 123);
    font-family: serif;
    text-align: center;
}
#p5{
    font-size: 200%;
    color: rgb(235, 123, 123);
    font-family: serif;
    text-align: center;
}
/*---------텍스트 부분---------*/





/*---------버튼 부분---------*/
@keyframes fall {
    from {
      top: -10px;
      -webkit-transform: rotate(0);
      -moz-transform: rotate(0);
      -ms-transform: rotate(0);
      -o-transform: rotate(0);
      transform: rotate(0);
    }
    to {
      top: 110vh;
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .confetti {
    position: absolute;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    transition: all 0.1s ease;
    pointer-events: none;
    width: 10px;
    height: 10px;
    font-size: 25px;
    animation: fall 2s cubic-bezier(0.05, 0.46, 1, 1);
  }
  
  .mui-button {
    position: relative;
    padding: 0;
    margin: 0;
    width: 150px;
    height: 50px;
    border: none;
    background: #F85F73;
    color: #FBE8D3;
    box-shadow: 0 0 10px 0.5px rgba(0, 0, 0, 0);
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    transition: all 0.15s linear;
  }
  .mui-button:hover {
    box-shadow: 0 0 10px 0.5px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0.98);
    -moz-transform: scale(0.98);
    -ms-transform: scale(0.98);
    -o-transform: scale(0.98);
    transform: scale(0.98);
    background: #ec5a6d;
    cursor: pointer;
  }
  .mui-button:active, .mui-button:focus {
    outline: none;
  }
  .mui-button .ripple {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  @keyframes ripple {
    from {
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0);
      opacity: 1;
    }
    to {
      opacity: 0;
      -webkit-transform: scale(250);
      -moz-transform: scale(250);
      -ms-transform: scale(250);
      -o-transform: scale(250);
      transform: scale(250);
    }
  }
  .mui-button .ripple .circle {
    position: absolute;
    background: rgba(251, 232, 211, 0.2);
    border: 1px solid transparent;
    border-radius: 50%;
    pointer-events: none;
    animation: ripple 0.75s 1;
    top: 50%;
    left: 50%;
  }
  .mui-button p {
    z-index: 1;
  }
/*---------버튼 부분---------*/









/*---------scroll snap 부분---------*/
body {
    overflow: hidden;
    font-family: 'Roboto Slab', serif;
}
/* Scroll down */
#container{
    width:100%;
    height:100vh; 
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.list{
    width:100%; 
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
}

/* .list:nth-child(1){
    background-color: rgb(0, 0, 0);
    background-size: cover;
    background-attachment: fixed; 
    background-position: center; 
} */

.list:nth-child(1){
  background-image: url("/src/background-01.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  background-position: center; 
}

.list:nth-child(2){
    background-color: #000000;
    background-size: cover;
    background-attachment: fixed; 
    background-position: center; 
}

.list:nth-child(3){
    background-color: #eeff2e;
    background-size: cover;
    background-attachment: fixed; 
    background-position: center; 
}
/*---------scroll snap 부분---------*/









/*---------요소들 부분---------*/
  @import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
  :root {
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    --font-sans: "Rubik", sans-serif;
    --font-serif: "Cardo", serif;
  }

  * {
    box-sizing: border-box;
  }

  html, body {
    height: 100%;
  }

  body {
    display: grid;
    place-items: center;
  }

  .page-content {
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
    max-width: 1024px;
    margin: 0 auto;
    font-family: var(--font-sans);
  }
  @media (min-width: 600px) {
    .page-content {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (min-width: 800px) {
    .page-content {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .card {
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    background-color: whitesmoke;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
  }
  @media (min-width: 600px) {
    .card {
      height: 350px;
    }
  }
  .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
  }
  .card:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
  }
  .card:nth-child(1):before {
    background-image: src="/src/song.png";
  }
  .card:nth-child(2):before {
    background-image: src="/src/song.png";
  }
  .card:nth-child(3):before {
    background-image: src="/src/song.png";
  }
  .card:nth-child(4):before {
    background-image: src="/src/song.png";
  }

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: transform var(--d) var(--e);
    z-index: 1;
  }
  .content > * + * {
    margin-top: 1rem;
  }

  .title {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.2;
  }

  .copy {
    font-family: var(--font-serif);
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.35;
  }


  @media (hover: hover) and (min-width: 600px) {
    .card:after {
      transform: translateY(0);
    }

    .content {
      transform: translateY(calc(100% - 4.5rem));
    }
    .content > *:not(.title) {
      opacity: 0;
      transform: translateY(1rem);
      transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    }

    .card:hover,
  .card:focus-within {
      align-items: center;
    }
    .card:hover:before,
  .card:focus-within:before {
      transform: translateY(-4%);
    }
    .card:hover:after,
  .card:focus-within:after {
      transform: translateY(-50%);
    }
    .card:hover .content,
  .card:focus-within .content {
      transform: translateY(0);
    }
    .card:hover .content > *:not(.title),
  .card:focus-within .content > *:not(.title) {
      opacity: 1;
      transform: translateY(0);
      transition-delay: calc(var(--d) / 8);
    }

    .card:focus-within:before, .card:focus-within:after,
  .card:focus-within .content,
  .card:focus-within .content > *:not(.title) {
      transition-duration: 0s;
    }
  }
/*---------요소들 부분---------*/



/* 말풍선 */
  @import url("https://fonts.googleapis.com/css?family=Pacifico");

  .container {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .hello {
    font-family: "Pacifico", cursive;
    font-size: 70px;
    background-image: -webkit-linear-gradient(to top, #da22ff, #9733ee);
    background-image: -moz-linear-gradient(to top, #da22ff, #9733ee);
    background-image: -ms-linear-gradient(to top, #da22ff, #9733ee);
    background-image: -o-linear-gradient(to top, #da22ff, #9733ee);
    background-image: linear-gradient(to top, #da22ff, #9733ee);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
    opacity: 0;
    filter: drop-shadow(2px 7px 0px #e3e3e3);
    -moz-animation: hello 2s forwards;
    -webkit-animation: hello 2s forwards;
    animation: hello 2s forwards;
    -moz-animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }

  .speech_bubble {
    width: 625px;
    height: 220px;
    background: #fff;
    position: relative;
    margin: auto;
    border: 10px solid #fff;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    border-radius: 200px;
    -moz-animation: pop 2s ease-out;
    -webkit-animation: pop 2s ease-out;
    animation: pop 2s ease-out;
    filter: drop-shadow(4px 7px 0px #e3e3e3);
  }

  @-moz-keyframes pop {
    0% {
      width: 100px;
    }
    40% {
      width: 1000px;
    }
    80% {
      width: 600px;
    }
  }
  @-webkit-keyframes pop {
    0% {
      width: 100px;
    }
    40% {
      width: 1000px;
    }
    80% {
      width: 600px;
    }
  }
  @keyframes pop {
    0% {
      width: 100px;
    }
    40% {
      width: 1000px;
    }
    80% {
      width: 600px;
    }
  }
  @-moz-keyframes hello {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes hello {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes hello {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  .speech_bubble:after, .speech_bubble:before {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 50px solid #fff;
    content: "";
    top: 210px;
    position: absolute;
    left: 100px;
    right: 0;
    margin: auto;
    -moz-animation: move 0.8s ease;
    -webkit-animation: move 0.8s ease;
    animation: move 0.8s ease;
  }

  .speech_bubble:before {
    top: 220px;
    border-top: 55px solid #fff;
    border-left: 44px solid transparent;
    border-right: 44px solid transparent;
  }

  @-moz-keyframes move {
    0% {
      top: 50px;
      left: -10px;
    }
    50% {
      left: 50px;
    }
    100% {
      left: 100px;
    }
  }
  @-webkit-keyframes move {
    0% {
      top: 50px;
      left: -10px;
    }
    50% {
      left: 50px;
    }
    100% {
      left: 100px;
    }
  }
  @keyframes move {
    0% {
      top: 50px;
      left: -10px;
    }
    50% {
      left: 50px;
    }
    100% {
      left: 100px;
    }
  }
  .em-hand {
    font-size: 48px;
    text-align: center;
    margin: 0.5em 0.5em 1em;
    -moz-animation: wave 0.3s alternate infinite;
    -webkit-animation: wave 0.3s alternate infinite;
    animation: wave 0.3s alternate infinite;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }

  @-moz-keyframes wave {
    0% {
      -webkit-transform: rotate(-30deg);
      -moz-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
      transform: rotate(-30deg);
    }
    100% {
      -webkit-transform: rotate(10deg);
      -moz-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
      transform: rotate(10deg);
    }
  }
  @-webkit-keyframes wave {
    0% {
      -webkit-transform: rotate(-30deg);
      -moz-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
      transform: rotate(-30deg);
    }
    100% {
      -webkit-transform: rotate(10deg);
      -moz-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
      transform: rotate(10deg);
    }
  }
  @keyframes wave {
    0% {
      -webkit-transform: rotate(-30deg);
      -moz-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
      transform: rotate(-30deg);
    }
    100% {
      -webkit-transform: rotate(10deg);
      -moz-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
      transform: rotate(10deg);
    }
  }
/* 말풍선 */

