/* 기존것 */
.audio {
    align-content: center;
    margin-right: auto;
    margin-left: auto;
}

.swiper-container {
  width: 100%;
  height: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff; /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  box-shadow: 0px 5px 18px -7px #848484;
}

.swiper-slide img{
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.swiper-slide:nth-child(2n) {
  width: 20%;
}

.swiper-slide:nth-child(3n) {
  width: 40%;
}

img {
  border: 0;
  content: normal!important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}


/* swiper container and slider styles here */

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  z-index: 1
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
  box-sizing: content-box
}

.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative
}

.slideshow {
  height: 80vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.slideshow__area {
  background: var(--bg-color-2);
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

.slideshow__el {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%
}

.slideshow__el[data-cursor=prev]:not([data-progress="0"]) {
  cursor: w-resize
}

.slideshow__el[data-cursor=next]:not([data-progress="1"]) {
  cursor: e-resize
}

.slideshow__slide {
  width: auto;
  max-width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 var(--slide-padding-x);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

@media (max-width:767px)  {
.slideshow__slide {
    padding: var(--slide-padding-y) var(--slide-padding-x);
}
}

@media (min-width:768px) and (max-width:1023px) {
  .slideshow__slide {
      padding: var(--slide-padding-y) var(--slide-padding-x);
  }
}

@media (min-width:1024px) {
  .slideshow__slide {
      padding: var(--slide-padding-y) var(--slide-padding-x);
  }
}

.slideshow__slide .caption, .slideshow__slide .caption2 {
  display: none
}

.slideshow__slide img {
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  display: block;
  opacity: 0;
  -webkit-transition: none;
  -o-transition: none;
  transition: none
}

.slideshow__slide img.lazyloaded {
  opacity: 1
}


/* this is styling responsible responsive behavior for images in slide */

.responsive-img {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.responsive-img img {
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto
}

.swiper-button-next {
  color: rgb(255, 89, 189);
}

.swiper-button-prev {
  color: rgb(255, 89, 189);
}

.swiper-pagination-bullet-active {
  background-color: rgb(255, 89, 189);
}
/* 기존것 */



/* 내비 */
body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}
.center
{
	text-align: center;
}
p
{
	font-size: 20px;
}
a,
a:hover,
a:focus,
a:active,{
	color: #99CED4;/*hover-highlight over,active-highlisht when clicked,focus-highlight when under use*/
	outline: none; /*gives outline to an element*/
}
h2,
h3,
{
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
}
hr.star-light,
hr.star-primary {
  padding: 0;  /*no padding,bordor upper 5px text to be avilable in center mac-width of 250 having margin t25  rauto b30 */
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}
hr.star-light:after,
hr.star-primary:after {
  content: "\f021";     /*give an icon FontAwesome helps to get desired font display inline within full span position*/
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}
hr.star-light {
  border-color: white; /*gives border white*/
}
hr.star-light:after {
  background-color: #18BC9C;
  color: white;
}
hr.star-primary {
  border-color: #2C3E50;
}
hr.star-primary:after {
  background-color: white;
  color: #2C3E50;
}
header {
  text-align: center;
  background: #18BC9C;
  color: white;
}
header .container {
  padding-top: 100px;
  padding-bottom: 50px;
}
header .intro .name {
  display: block;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}
header .intro .skills {
  font-size: 1.25em;
  font-weight: 300;/*how much bold*/
}
@media (min-width: 768px) {/* if minimum width exceeds then perform*/
  header .container {
    padding-top: 200px;
    padding-bottom: 100px;
  }
  header .intro .name {
    font-size: 4.75em;
  }
  header .intro .skills {
    font-size: 1.75em;
  }
}
.navbar-custom {
  background: #2C3E50;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
}
}
.navbar-custom .navbar-nav {
  letter-spacing: 1px;
}
.navbar-custom .navbar-nav li a {
  color: white;
}
.navbar-custom .navbar-nav li a:hover {
  color: #18BC9C;
  outline: none;
}
.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
  color: white;
}
.navbar-custom .navbar-nav li.active a {
  color: white;
  background: #18BC9C;
}
.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
  color: white;
  background: #18BC9C;
}
.navbar-custom .navbar-toggle {
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  border-color: white;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #18BC9C;
  color: white;
  border-color: #18BC9C;
}
footer {
  color: white;
}
footer h3 {
  margin-bottom: 30px;
}
footer .footer-above {
  padding-top: 50px;
  background-color: #2C3E50;
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #233140;
}
/* 내비 */






/* 그라디언트 배경 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 200vh;
  padding: 1rem;
  font-family: Avenir, sans-serif;
  font-size: 112.5%;
  color: #124;
  background-image: radial-gradient(rgba(255, 185, 65, 0.7), rgba(255, 0, 0, 0) 40vw), radial-gradient(rgba(255, 186, 186, 0.7), rgba(0, 128, 0, 0) 40vw), radial-gradient(rgba(114, 215, 52, 0.7), rgba(0, 0, 255, 0) 40vw), radial-gradient(rgba(255, 255, 0, 0.7), rgba(255, 255, 0, 0) 40vw), radial-gradient(rgba(255, 0, 0, 0.7), rgba(255, 0, 0, 0) 40vw);
  background-position: -30vw 7rem, 50% 10rem, 60vw 14rem, -10vw calc(14rem + 20vw), 30vw calc(14rem + 20vw);
  background-size: 80vw 80vw;
  background-repeat: no-repeat;
}
/* 그라디언트 배경 */





/* text fade in */
@import url(/external/raleway);

.animated{
  -webkit-animation-fill-mode:both;
  -webkit-animation-duration:2s;
  animation-duration:2s;
}
.animated2{
  animation-delay:.5s;
  -webkit-animation-delay:.5s;
  -webkit-animation-fill-mode:both;
  -webkit-animation-duration:2s;
  animation-duration:2s;
}
@-webkit-keyframes fadeOutUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(1);
    -webkit-transform: translateY(40px);
	}	100% {
		opacity: 1;
	}
}

.fadeOutUp {
	-webkit-animation-name: fadeOutUp;
	animation-name: fadeOutUp;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
	0%{
    opacity: 0;
		-webkit-transform: translateY(1);
    -webkit-transform: translateY(40px);
  }
  100% {
		opacity: 1;
	}
}
/* text fade in */






/* 텍스트 */
#p1 {
  font-size: 50px;
  color: rgb(0, 0, 0);
  font-family: Noto Sans KR;
  text-align: center;
}
#p2{
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-family: Noto Sans KR;
  text-align: center;
}
#p3{
  font-size: 15px;
  color: rgb(0, 0, 0);
  font-family: Noto Sans KR;
  text-align: center;
}
#p4{
  font-size: 15px;
  color: rgb(0, 0, 0);
  font-family: Noto Sans KR;
  text-align: center;
}

/* 텍스트 */